<!doctype html>
<html lang="de" class="html">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='css/meet.css' type='text/css' media='all' />
  <title>{{NAME_LEGAL_NOTICE}}</title>
</head>
<body class="body">
  <main class="main">
    <div class="imprint">
      <h1>{{NAME_LEGAL_NOTICE}}</h1>
    </div>
  </main>
</body>
</html>